*{
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     min-height: 100vh;
}

#jatekter {
    position: relative;

    width: 800px;
    height: 600px;

    border: 3px solid black;
    border-radius: 15px;

    overflow: hidden;

    /*background-color: lightgray;*/
    background-image: url("./kepek/jatekter.avif");
}

.karakter,
.kulcs,
.ajto {

    position: absolute;
}

.kulcs {
    z-index: 1;
}

.ajto {
    z-index: 1;
}

.karakter {
    z-index: 10;
}

.karakter.mozog {
    animation: seta 0.25s infinite alternate;
}

@keyframes seta {

    from {
        transform:
            translateY(0px)
            rotate(6deg);
    }

    to {
        transform:
            translateY(-6px)
            rotate(-6deg);
    }
}

.karakter img,
.kulcs img,
.ajto img {

    width: 50px;
    height: 50px;
}