*{
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     min-height: 100vh;
}

#jatekter {
    position: relative;

    width: 801px;
    height: 601px;

    /*border: 3px solid black;*/
    border-radius: 15px;

    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*background-color: lightgray;*/
    background-image: url("kepek/jatekter.png");
}

.karakter,
.kulcs,
.ajto {

    position: absolute;
}

.kulcs {
    z-index: 1;
}

.ajto {
    z-index: 1;
}

.karakter {
    z-index: 10;
}

.karakter.mozog {
    animation: seta 0.20s infinite alternate;
    transform-origin: 50% 100%;
}

@keyframes seta {

    from {
        transform:
            translateY(0px)
            rotate(6deg);
    }

    to {
        transform:
            translateY(0px)
            rotate(-6deg);
    }
}

.kulcs img{
    width: 35px;
    height: 35px;
}

.ajto img{
    width: 100px;
    height: 100px;
}

.karakter img{
    width: 70px;
    height: 100px;
}