*{
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     min-height: 100vh;
}

#jatekter {
    position: relative;

    width: 800px;
    height: 600px;

    border: 3px solid black;
    border-radius: 15px;

    overflow: hidden;

    background-color: lightgray;
}

.karakter,
.kulcs,
.ajto {

    position: absolute;
}

.karakter img,
.kulcs img,
.ajto img {

    width: 50px;
    height: 50px;
}