/* Globális beállítás: a padding és border beleszámít a teljes szélességbe/magasságba */
*{
    box-sizing: border-box;
}

/* Az egész ablakot kitöltő, középre igazított flexbox konténer sötét háttérrel */
body{
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
     min-height: 100vh;
}

/* A játéktér fix méretű doboza, relatív pozicionálással a belső elemek miatt */
#jatekter {
    position: relative;

    width: 801px;
    height: 601px;

    /*border: 3px solid black;*/
    border-radius: 15px;

    overflow: hidden; /* Ami kilóg a pályáról, az nem látszódhat */

    /* Háttérkép méretezése és beállítása */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("kepek/jatekter.png");
}


#hatizsak {
    position: absolute;
    top: 170px;
    right: 160px;

    width: 400px;
    height: 93px;

    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 10px;
}

#hatizsak ul {
    list-style: none;
    display: flex;
    gap: 0px;
    padding: 0;
    margin: 0;
}

#hatizsak li {
    width: 70px;
    height: 70px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
}

#hatizsak li img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Kép megtartja az arányait, de kitölti a helyét */
}

/* Minden játékelemet abszolút pozicionálunk a szülőhöz (#jatekter) képest */
.karakter,
.kulcs,
.ajto {

    position: absolute;
}

/* Rétegrendek (z-index) beállítása: a karakter mindig a kulcs és ajtó felett legyen */
.kulcs {
    z-index: 1;
}

.ajto {
    z-index: 1;
}

.karakter {
    z-index: 10;
    /* Ha megváltozik a top vagy left értéke, a böngésző 0.15 másodperc alatt simán úsztassa át oda! */
    transition: left 0.5s ease-out, top 0.5s ease-out;
}

/* Amikor a karakter mozog, elindítjuk rajta a 'seta' elnevezésű CSS animációt */
.karakter.mozog {
    animation: seta 0.25s infinite alternate; /* 0.2 másodpercenként vált oda-vissza */
    transform-origin: 50% 100%; /* A forgatás tengelye a karakter "lábánál" van */
}

/* Séta animáció: enyhe dülöngélő hatás jobbra-balra forgatással */
@keyframes seta {

    0% {
        transform:
            translateY(0px)
            rotate(6deg);
    }

    50% {
        transform:
            translateY(-5px)
            rotate(0deg);
    }

    100% {
        transform:
            translateY(0px)
            rotate(-6deg);
    }
}

/* Az egyes játékelemek belső képeinek fix méretezése */
.kulcs img{
    width: 35px;
    height: 35px;
}

.ajto img{
    width: 100px;
    height: 100px;
}

.karakter img{
    width: 70px;
    height: 100px;
}